<%# if false %>
<%# link_to "goto root", root_path(:wer => 123, :sdf => 234) %><br />
<%# link_to "goto hihi", hihihihi_path(:hello => "kitty") %>
<%# link_to "goto yooo", yooo_path(Item.first, :xcv => "cvb")%>
<%# end %>
<%#= HelloKitty.say%>
<%#= link_to "root", root_path %>
<%#= link_to "kitty", kitty_path , :method => "post"%>
<%#= link_to "kitty2", kitty2_path, :method => "delete" %>
<%#= form_for Item.new ,:url => kitty2_path, :method => 'delete' do |f| %>
  <%#= f.text_field :name %>
<!--
  <input name="single" value="1">
  <input name="im_array[]" value="2">
  <input name="im_array[]" value="3">
  <input name="im_hash[im_key1]" value="?">
  <input name="im_hash[im_key2]" value="!">
  <button type="submit">送出</button>
-->
<%# end %>
<% content_for :header do %>
我要出現在上面
<% end %>
<% content_for :footer do %>
我要出現在下面
<% end %>
<%= @ans.class %>
<%= form_tag("/items") do %>
  <%= show_simple_captcha %>
  <button type="submit">送出</button>
<% end %>
